* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column nowrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h4 {
    flex-grow: 1;
    text-align: center;
    margin: 10px 1px;
}
p {
    border-radius: 10px;
    margin: 0;
    padding: 6px;
}
img {
    border-radius: 10px;
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8f8f8d;
    padding: 20px 10px 10px;
    text-align: center;
}
/* ------------°°------------------------- */
.contexto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 25vh;
    padding: 15px;
}
.img-sena {
    width: 150px;
}
.contexto:nth-child(1n) {
    justify-content: space-evenly;
}
.texto {
    width: 45%;
    padding: 10px;
}
.ejemplo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 350px;
    border: 1px solid black;
}
.uno {
    border: 2px solid rgb(15, 221, 15);
}
.tres {
    border: 2px dashed rgb(15, 221, 15);
}
.cinco {
    border: 10px solid rgb(23, 23, 168);
}
.ejemplo div {
    width: 130px;
}
/* ------------ Lineas del diagrama ---------------------- */
.linea-solida1 {
    position: absolute;
    width: 0;
    height: 2200px;
    border: 3px solid rgb(15, 221, 15);
    right: 50%;
    top: 224px;
}
.linea-solida2 {
    position: absolute;
    width: 25%;
    height: 0px;
    border: 3px solid rgb(15, 221, 15);
    right: 50%;
    top: 1060px;
}
.linea-solida3 {
    position: absolute;
    width: 25%;
    height: 0px;
    border: 3px solid rgb(15, 221, 15);
    right: 50%;
    top: 1215px;
}
.linea-solida4 {
    position: absolute;
    width: 25%;
    height: 0px;
    border: 3px solid rgb(15, 221, 15);
    right: 50%;
    top: 1401px;
}
.linea-solida5 {
    position: absolute;
    width: 25%;
    height: 0px;
    border: 3px solid rgb(15, 221, 15);
    right: 50%;
    top: 1560px;
}
.linea-solida6 {
    position: absolute;
    width: 86%;
    height: 0px;
    border: 3px solid rgb(15, 221, 15);
    right: 7%;
    top: 1700px;
}
.linea-solida7 {
    position: absolute;
    width: 0;
    height: 400px;
    border: 3px solid rgb(15, 221, 15);
    right: 93%;
    top: 1700px;
}
.linea-solida8 {
    position: absolute;
    width: 0;
    height: 400px;
    border: 3px solid rgb(15, 221, 15);
    right: 7%;
    top: 1700px;
}
.linea-solida9 {
    position: absolute;
    width: 0;
    height: 90px;
    border: 3px solid rgb(15, 221, 15);
    right: 83.7%;
    top: 1700px;
}
.linea-solida10 {
    position: absolute;
    width: 0;
    height: 90px;
    border: 3px solid rgb(15, 221, 15);
    right: 70.9%;
    top: 1700px;
}
.linea-solida11 {
    position: absolute;
    width: 0;
    height: 90px;
    border: 3px solid rgb(15, 221, 15);
    right: 58%;
    top: 1700px;
}
.linea-solida12 {
    position: absolute;
    width: 0;
    height: 90px;
    border: 3px solid rgb(15, 221, 15);
    right: 42%;
    top: 1700px;
}
.linea-solida13 {
    position: absolute;
    width: 0;
    height: 90px;
    border: 3px solid rgb(15, 221, 15);
    right: 29.3%;
    top: 1700px;
}
.linea-solida14 {
    position: absolute;
    width: 0;
    height: 90px;
    border: 3px solid rgb(15, 221, 15);
    right: 16.5%;
    top: 1700px;
}
.linea-solida15 {
    position: absolute;
    width: 25%;
    height: 0;
    border: 3px solid rgb(15, 221, 15);
    right: 25%;
    top: 2089px;
}
.linea-solida16 {
    position: absolute;
    width: 0;
    height: 150px;
    border: 3px solid rgb(15, 221, 15);
    right: 25%;
    top: 2089px;
}
.linea-dashed1 {
    position: absolute;
    width: 23.8%;
    height: 0;
    border: 3px dashed rgb(15, 221, 15);
    right: 26.2%;
    top: 380px;
}
.linea-dashed2 {
    position: absolute;
    width: 20%;
    height: 0;
    border: 3px dashed rgb(15, 221, 15);
    right: 26.2%;
    top: 865px;
}
.linea-dashed3 {
    position: absolute;
    width: 8%;
    height: 0;
    border: 3px dashed rgb(15, 221, 15);
    right: 26.2%;
    top: 650px;
}
.linea-dashed4 {
    position: absolute;
    width: 8%;
    height: 0;
    border: 3px dashed rgb(15, 221, 15);
    right: 26.2%;
    top: 1055px;
}
.linea-dashed5 {
    position: absolute;
    width: 0;
    height: 405px;
    border: 3px dashed rgb(15, 221, 15);
    right: 35%;
    top: 650px;
}
.linea-dashed6 {
    position: absolute;
    width: 0;
    height: 200px;
    border: 3px dashed rgb(15, 221, 15);
    right: 93%;
    top: 2150px;
}
.linea-dashed7 {
    position: absolute;
    width: 20%;
    height: 0;
    border: 3px dashed rgb(15, 221, 15);
    right: 30%;
    top: 2526px;
}
/* ------------ Contenedor del diagrama ---------------------- */
.container {
    position: relative;
    background-color:rgb(235, 235, 235);
    min-height: 80vh;
    height: 420vh;
}
/* Este es para todos lo cuadros */
.item-flex {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    background-color: rgb(15, 221, 15);

}
.item2-flex {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    background-color: rgb(23, 23, 168);

}
.descripcion {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0;
    color: white;
    background-color:rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
}
/* ------------------ dependencias ------------------------ */
.item1 {
    position: absolute;
    height: 33.5vh;
    width: 15%;
    right: 42.5%;
    top: 5px;
    border-radius: 10px;
    border: 2px solid black;
}
.img {
    position: relative;
    width: 100%;
    border-radius: 10px;
}
.item2 {
    position: absolute;
    height: 30.6vh;
    width: 15%;
    right: 42.5%;
    top: 760px;
    border-radius: 10px;
    border: 2px solid black;
}
.item3 {
    position: absolute;
    height: 37.9vh;
    width: 16%;
    right: 10%;
    top: 250.5px;
    border-radius: 10px;
    border: 2px solid black;
}
.item4 {
    position: absolute;
    height: 28.7vh;
    width: 16%;
    right: 10%;
    top: 550px;
    border-radius: 10px;
    border: 2px solid black;
}
.item5 {
    position: absolute;
    height: 34vh;
    width: 16%;
    right: 10%;
    top: 750px;
    border-radius: 10px;
    border: 2px solid black;
}
.item6 {
    position: absolute;
    height: 21.5vh;
    width: 16%;
    right: 10%;
    top: 985px;
    border-radius: 10px;
    border: 2px solid black;
}
.item7 {
    position: absolute;
    height: 22.8vh;
    width: 16%;
    right: 75%;
    top: 985px;
    border-radius: 10px;
    border: 2px solid black;
}
.item8 {
    position: absolute;
    height: 22vh;
    width: 16%;
    right: 75%;
    top: 1150px;
    border-radius: 10px;
    border: 2px solid black;
}
.item9 {
    position: absolute;
    height: 25vh;
    width: 16%;
    right: 75%;
    top: 1310px;
    border-radius: 10px;
    border: 2px solid black;
}
.item10 {
    position: absolute;
    height: 20.1vh;
    width: 16%;
    right: 75%;
    top: 1490px;
    border-radius: 10px;
    border: 2px solid black;
}
.item11 {
    position: absolute;
    height: 25.8vh;
    width: 12%;
    right: 87%;
    top: 1990px;
    border-radius: 10px;
    border: 2px solid black;
}
.item12 {
    position: absolute;
    height: 28.6vh;
    width: 12%;
    right: 78%;
    top: 1790px;
    border-radius: 10px;
    border: 2px solid black;
}
.item13 {
    position: absolute;
    height: 34.1vh;
    width: 12%;
    right: 65%;
    top: 1790px;
    border-radius: 10px;
    border: 2px solid black;
}
.item14 {
    position: absolute;
    height: 30vh;
    width: 12%;
    right: 52%;
    top: 1790px;
    border-radius: 10px;
    border: 2px solid black;
}
.item15 {
    position: absolute;
    height: 27.1vh;
    width: 12%;
    right: 36%;
    top: 1790px;
    border-radius: 10px;
    border: 2px solid black;
}
.item16 {
    position: absolute;
    height: 22.8vh;
    width: 12%;
    right: 23.3%;
    top: 1790px;
    border-radius: 10px;
    border: 2px solid black;
}
.item17 {
    position: absolute;
    height: 30vh;
    width: 12%;
    right: 10.5%;
    top: 1790px;
    border-radius: 10px;
    border: 2px solid black;
}
.item18 {
    position: absolute;
    height: 28.4vh;
    width: 12%;
    right: 1%;
    top: 2010px;
    border-radius: 10px;
    border: 2px solid black;
}
.item19 {
    position: absolute;
    height: 21.1vh;
    width: 12%;
    right: 87%;
    top: 2300px;
    border-radius: 10px;
    border: 2px solid black;
}
.item20 {
    position: absolute;
    height: 24.1vh;
    width: 13%;
    right: 43.5%;
    top: 2170px;
    border-radius: 10px;
    border: 2px solid black;
}
.item21 {
    position: absolute;
    height: 29.1vh;
    width: 13%;
    right: 18%;
    top: 2170px;
    border-radius: 10px;
    border: 2px solid black;
}
.item22 {
    position: absolute;
    height: 26.8vh;
    width: 13%;
    right: 43.5%;
    top: 2430px;
    border-radius: 10px;
    border: 2px solid black;
}
.item23 {
    position: absolute;
    height: 26.8vh;
    width: 13%;
    right: 18%;
    top: 2430px;
    border-radius: 10px;
    border: 2px solid black;
}

/* ---------- Animaciones y efectos ---------- */
.img:hover .descripcion {
    display: block;
}
.item-flex:hover {
    transform: scale(1.1);
}
.item2-flex:hover {
    transform: scale(1.1);
}
/* -------------------°°°------------------------ */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 7.7vh;
    color: #fff;
}